<div class="userProfilePicture largeUserProfilePicture floatRight">
    <img src="{{ model.getProfilePictureLocation() }}"/>
    <p>{{ model.getFullName() }}</p>
</div>
<p>Username: {{ model.getUserName() }}</p>
<p>First name: {{ model.getFirstName() }}</p>
<p>Last name: {{ model.getLastName() }}</p>
<p>Birthday: {{ model.getBirthday() | date("Y-m-d") }}</p>
<p>Email: {{ model.getEmail() }}</p>
<p>{{ Link("Edit " ~ model.getFirstName() ~"'s account", "users/edit/" ~ model.getUserID()) }}.</p>