{% extends "@html5/base.twig" %}
{% block head %}
    <!--<link rel="stylesheet" type="text/css" href="{{ site.getBaseDirectory }}includes/themes/default/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.getBaseDirectory }}includes/themes/default/css/menu.css"/>-->
    <link rel="icon" href="{{ site.getBaseDirectory }}images/educaskFavicon.ico">
{% endblock %}
{% block body %}
    <header>
        <menu class="mainMenu">
            {% for block in blocks.mainMenu %}
                {{ block.getContent() | raw }}
            {% endfor %}
        </menu>
    </header>
    <div id="headerGap"></div>
    <div id="contentWrapper">
        <section id="content">
            {% if notices is not empty %}
                <div id="notices">
                    {% for notice in notices %}
                        <div class="{{ notice.getStyle() }}Notice notice">
                            <p>{{ notice.getMessage() }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <h1>{{ title }}</h1>
            {% include response.getView() %}
            {% for block in blocks.main %}
                <h2>{{ block.getTitle }}</h2>
                {{ block.getContent() | raw }}
            {% endfor %}
        </section>
    </div>
    <div id="sidebar">
    </div>
{% endblock %}