{% block body %}
    <div id="wrapper">
    {% block titlebar %}
        <div id="titlebar">
            <ul>
                <li><a id="logo" href="{{ site.getBaseDirectory }}"></a></li>
                {{ blocks.menus.HTML|raw }}
                <li id="flex-end">
                    <form action="#" id="search-box" method="post">
                        <input name="text" type="text"/><input type="submit"/>
                    </form>
                    {{ blocks.login.0.button|raw }}
                </li>
            </ul>

        </div>
    {% endblock %}


    <div id="mainContent">
        {% if blocks.notices.0 is defined %}
            <div id="notices-modal">
                {% for notice in blocks.notices %}
                    <div class="{{ notice.style }}">Notice: {{ notice.message|capitalize }}</div>
                {% endfor %}
                <a id="notices-close" onClick="$(this).parent().remove()">Close</a>
            </div>
        {% endif %}
        <h2>{{ blocks.main.0.title| raw | title }}</h2>

        <p>{{ blocks.main.0.content|raw }}</p>

    </div>
    <div id="login-modal" style="display: none;">
        {{ blocks.login.0.content|raw }}
    </div>
    {% block sidebar %}
        <div id="sidebar">
            <ul>
                <li>SIDEBAR!</li>
                {# again, iterate through blocks to look for sidebar menu items.#}
                <li><a href="{{ href }}">List1</a></li>
                <li><a href="{{ href }}">List1</a></li>
                <li><a href="{{ href }}">List1</a></li>
                <li><a href="{{ href }}">List1</a></li>
                <li><a href="{{ href }}">List1</a></li>
            </ul>
        </div>
    {% endblock %}


    {# check for notices. If there are any, print them into a modal, with a close button#}
    </div> {#// wrapper#}
{% endblock %}