{% block body %}
    <div id="titlebar">
        <ul>
            <li><a id="logo" href="{{ site.getBaseDirectory }}"></a></li>
            {{ blocks.menus.0.content|raw }}
            <li id="flex-end">
                <form action="#" id="search-box" method="post">
                    <input name="text" type="text"/><input type="submit" value="Submit  "/>
                </form>
                {{ blocks.login.0.button|raw }}
            </li>
        </ul>

    </div>


    <div id="mainContent">

        {#check for items in the top. Print any here.#}
        {{ dump(blocks.top) }}
        {% if blocks.top.0.content is not empty %}
            <div class="block-top">
                {% for blocks in blocks.top %}
                    {% if blocks.content is not empty %}
                        {% if blocks.type == 'noticeBlock' %}
                            {% include 'notices.twig' %}
                        {% elseif blocks.type == 'imageBlock' %}
                            {% include 'image.twig' %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}


        {#main block#}
        {% if blocks.main is not empty %}
            {% for blocks in blocks.main %}
                {% if blocks.content is not empty %}
                    <h2>{{ blocks.title| raw | title }}</h2>
                    <p>{{ blocks.content|raw }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}


        {#split blocks#}
        {% if blocks.left is not empty %}
            <div class="split-left">
                {% for blocks in blocks.left %}
                    <div class="block">
                        {% if blocks.content is not empty %}
                            <h3>{{ blocks.title| raw | title }}</h3>
                            <p>{{ blocks.content|raw }}</p>

                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if blocks.right is not empty %}
            <div class="split-right">
                {% for blocks in blocks.right %}
                    <div class="block">
                        {% if blocks.content is not empty %}
                            <h3>{{ blocks.title| raw | title }}</h3>
                            <p>{{ blocks.content|raw }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        {% endif %}

        {#check for statuses. Print any here.#}

        {% if blocks.bottom.0.content is not empty %}
            <div class="block-bottom">
                {% for blocks in blocks.bottom %}
                    {% if blocks.content is not empty %}
                        {% if blocks.type == 'statusBlock' %}
                            {% include 'statuses.twig' %}
                        {% elseif blocks.type == 'imageBlock' %}
                            {% include 'image.twig' %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

    </div>

    {% if blocks.sidebar is not empty %}
        <div id="sidebar">
            <ul>
                {% for block in blocks.sidebar %}
                    {% for link in block.content %}
                        <li><a href="{{ link.href }}">{{ link.title|title }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <div id="login-modal" style="display: none;">
        {{ blocks.login.0.content|raw }}
    </div>
{% endblock %}