{% block body %}
    <div id="wrapper">
    {% block titlebar %}
        <div id="titlebar">
            <ul>
                <li><a id="logo" href="{{ site.getBaseDirectory }}"></a></li>
                {{ blocks.menus.0.content|raw }}
                <li id="flex-end">
                    <form action="#" id="search-box" method="post">
                        <input name="text" type="text"/><input type="submit" value="Submit  "/>
                    </form>
                    {{ blocks.login.0.button|raw }}
                </li>
            </ul>

        </div>
    {% endblock %}


    <div id="mainContent">

        {#check for notices. Print any here.#}
        {% block notices %}
            {% include 'notices.twig' %}
        {% endblock %}


        <h2>{{ blocks.main.0.title| raw | title }}</h2>

        <p>{{ blocks.main.0.content|raw }}</p>


        {#check for statuses. Print any here.#}
        {% for blocks in blocks.bottom %}
            <p>{{ dump(blocks) }}</p>
        {% endfor %}
        {% block statuses %}
            {% include 'statuses.twig' %}
        {% endblock %}

    </div>
    <div id="login-modal" style="display: none;">
        {{ blocks.login.0.content|raw }}
    </div>
    {% block sidebar %}
        <div id="sidebar">
            <ul>
                <li>SIDEBAR!</li>
                {# again, iterate through blocks to look for sidebar menu items.#}
                <li><a href="{{ href }}">List1</a></li>
                <li><a href="{{ href }}">List1</a></li>
                <li><a href="{{ href }}">List1</a></li>
                <li><a href="{{ href }}">List1</a></li>
                <li><a href="{{ href }}">List1</a></li>
            </ul>
        </div>
    {% endblock %}


    </div> {#// wrapper#}
{% endblock %}