<div id="footer">
    <ul>
        <li>Find us elsewhere on the web:</li>
        {#icons borrowed from http://simpleicons.org/#}
        <li><a href="https://www.educask.com" target="_blank"><img
                        src="{{ site.getBaseDirectory }}includes/images/educasklogo-e.png"/></a></li>
        <li><a href="https://www.facebook.com/Educask" target="_blank"><img
                        src="{{ site.getBaseDirectory }}includes/images/facebook.png"/></a></li>
        <li><a href="https://github.com/educask" target="_blank"><img
                        src="{{ site.getBaseDirectory }}includes/images/github.png"/></a></li>
        <li><a href="https://twitter.com/educask" target="_blank"><img
                        src="{{ site.getBaseDirectory }}includes/images/twitter.png"/></a></li>
        <li><a href="https://plus.google.com/+Educask/posts" target="_blank"><img
                        src="{{ site.getBaseDirectory }}includes/images/googleplus.png"/></a></li>
    </ul>
</div>