<div id="homepage-background">
    <div id="home-content">
        {% for item in blocks.menu %}
            <a href="{{ item.href }}" class="{{ item.CssClass }}">
            <span class="box" id="box-{{ loop.index }}">
                <h2>{{ item.title|title }}</h2>
                <p>{{ item.content }}</p>
            </span>
            </a>
        {% endfor %}
    </div>
    <div id="homepage-footer">
        <div id="footer-logo"></div>
    </div>
</div>
<div id="login-modal" style="display: none;">
    {{ blocks.login.0.content|raw }}
</div>
