{% extends "@html5/base.twig" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ site.getBaseDirectory }}includes/themes/default/css/main.css"/>
    <link rel="icon" href="{{ site.getBaseDirectory }}includes/images/educaskFavicon.ico">
{% endblock %}
{% block body %}
    <header></header>
    <div id="headerGap"></div>
    <div id="contentWrapper">
        <section id="content">
            {% if notices is not empty %}
                <div id="notices">
                    {% for notice in notices %}
                        <div class="{{ notice.getStyle() }}Notice notice">
                            <p>{{ notice.getMessage() }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% for block in blocks.main %}
                <h1>{{ block.getTitle }}</h1>
                {{ block.getContent() | raw }}
            {% endfor %}
        </section>
    </div>
    <div id="sidebar">
    </div>
{% endblock %}