<!DOCTYPE html>
<html>
<head>
    <title>{% if blocks.main.0.title is defined %}{{ blocks.main.0.getTitle }}{% else %}Home{% endif %} | {{ site.getTitle }}</title>
    <meta name="Generator" content="Educask version {{ site.getEducaskVersion }}">
    <meta http-equiv="X-FRAME-OPTIONS" content="DENY">
    <meta charset="UTF-8">
    <script src="{{ site.getBaseDirectory }}thirdPartyLibraries/jQuery/jquery.js"></script>
    <script type="text/javascript"
            src="{{ site.getBaseDirectory }}thirdPartyLibraries/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript"
            src="{{ site.getBaseDirectory }}thirdPartyLibraries/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css"
          href="{{ site.getBaseDirectory }}thirdPartyLibraries/fancybox/source/jquery.fancybox.css?v=2.1.5"
          media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="{{ site.getBaseDirectory }}thirdPartyLibraries/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5"/>
    <script type="text/javascript"
            src="{{ site.getBaseDirectory }}thirdPartyLibraries/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <link rel="stylesheet" type="text/css"
          href="{{ site.getBaseDirectory }}thirdPartyLibraries/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7"/>
    <script type="text/javascript"
            src="{{ site.getBaseDirectory }}thirdPartyLibraries/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <script type="text/javascript"
            src="{{ site.getBaseDirectory }}thirdPartyLibraries/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    {{ site.getScriptLinks|raw }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".inline").fancybox({
                fitToView: true,
                autoSize: false,
                width: "90%",
                height: "80%",
                closeClick: false,
                openEffect: "fade",
                closeEffect: "fade"
            });
            $(".inlineRefreshOnClose").fancybox({
                fitToView: true,
                autoSize: false,
                width: "90%",
                height: "80%",
                closeClick: false,
                openEffect: "fade",
                closeEffect: "fade",
                afterClose: function () {
                    parent.location.reload();
                }
            });
        });
        {{ site.getScripts|raw }}
    </script>

    {% block head %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>